<h1>Person Table</h1>

<div>
  <button (click)="toggle()">
    Toggle full/empty list
  </button>
</div>

<ng-container *ngIf="persons.length > 0; then hasPersons else noPersons"></ng-container>

<ng-template #hasPersons>
  <table >
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of persons; let row=index; let odd=odd" [ngClass]="{'striped-row': odd}">
        <td>{{row + 1}}</td>
        <td>{{p.first_name}}</td>
        <td>{{p.last_name}}</td>
        <td>{{p.email}}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #noPersons>
  <p>No persons here</p>
</ng-template>

