<h1>Forms Demo</h1>

<p *ngIf="message"
   class="message"
   [ngClass]="{submit:messageType==='submit', cancel:messageType==='cancel'}"
>{{message}}</p>

<h2>Template-Oriented</h2>
<template-oriented-form
    [user]="user"
    (submit)="onSubmit($event)" (cancel)="onCancel()"
></template-oriented-form>

<h2>Component-Oriented</h2>
<component-oriented-form
    [user]="user"
    (save)="onSubmit($event)" (keep)="onCancel()"
></component-oriented-form>


