
table {
    width: 100%;

    thead {
        th {
            text-align: left;
        }
    }

    th:last-child, td:last-child {
        text-align: right;
    }

    tbody {
        tr:hover {
            background-color: #ddd;
        }
    }

    button {
        border: none;
        color: white;
        background-color: royalblue;

        &:hover {
            box-shadow: 1px 1px 3px #555;
        }
    }
}
