<h1>User List</h1>

<ng-container *ngIf="(users$ | async) as users">

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Job Title</th>
        <th>Company</th>
        <th>City</th>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users; let row=index" (click)="gotoUser(u)">
        <td>{{row + 1}}</td>
        <td>{{u.name}}</td>
        <td>{{u.title | lowercase}}</td>
        <td>{{u.company}}</td>
        <td>{{u.city | uppercase}}</td>
        <td>
          <!-- <a [routerLink]="['/user', u.id]" > Show </a> -->
          <button (click)="gotoUser(u)">Goto</button>
        </td>
      </tr>
    </tbody>
  </table>

</ng-container>

