:host {
    font-family: sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #555;
    color: #fff;
    padding: .3em;

    h1 {
        padding: 0;
        margin: 0
    }
}

nav {
    margin-top: 4rem;
    padding: 0;

    background-color: dodgerblue;
    color: #fff;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

            a {
                display: inline-block;
                text-decoration: none;
                color: inherit;
                padding: 0.5rem;
                font-weight: 600;

                &:hover {
                    background-color: orange;
                    color: #555;
                }

                &.current-page {
                    background-color: #0d4e86;
                    color: #fff;
                }
            }
        }

        li + li {
            padding-left: 1rem;
        }
    }
}

main {
    margin-top: 1rem;
    border: 1px solid #eee;
    border-radius: .5em;
    padding: .5em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    color: #aaa;
    padding: 1em;
    text-align: center;
    font-size: .8rem;
}
