<div class="label" *ngIf="labelVisible" (click)="showForm()">
    {{origValue || hint}}
    <button (click)="showForm()">Edit</button>
</div>
<div class="form" *ngIf="!labelVisible">
    <input type="text" #field autofocus
        [value]="formValue"
        (keyup)="onKeyEvent($event, field.value)">
    <button (click)="cancel()">Close</button>
    <button (click)="save(field.value)">Save</button>
</div>
