<header>
  <h1>Routing Demo</h1>
</header>

<nav>
  <ul>
    <li *ngFor="let p of pages">
      <a [routerLink]="p.uri" [routerLinkActive]="'current-page'" >{{p.label}}</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  &copy; 2020 Whatever Inc. All rights reversed.
</footer>
