<h1>User List</h1>

<ng-container *ngIf="(users$ | async) as users">

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Job Title</th>
        <th>Company</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users; let row=index">
        <td>{{row + 1}}</td>
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.title | lowercase}}</td>
        <td>{{u.company}}</td>
        <td>{{u.city | uppercase}}</td>
      </tr>
    </tbody>
  </table>

</ng-container>

