
.message {
    color: white;
    padding: 1em 2em;
    text-align: center;
    border-radius: 1em;
    background-color: #555;
    margin: 1em 0;

    &.submit {
        background-color: forestgreen;
    }

    &.cancel {
        background-color: darkorange;
    }

}
