<h1>Forms Demo</h1>

<p *ngIf="message"
   class="message"
   [ngClass]="{submit:messageType==='submit', cancel:messageType==='cancel'}"
>{{message}}</p>

<template-oriented-form
    [user]="user"
    (submit)="onSubmit($event)"
    (cancel)="onCancel()"
></template-oriented-form>


