<form [formGroup]="form">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" id="name" [formControl]="nameCtrl">
        <ul *ngIf="nameCtrl.dirty && nameCtrl.invalid">
            <li *ngIf="nameCtrl.errors.required">
                Must have a value
            </li>
            <li *ngIf="nameCtrl.errors.minlength">
                At least {{nameCtrl.errors.minlength.requiredLength}} chars
            </li>
        </ul>
        <pre *ngIf="nameCtrl.errors">errors: {{ nameCtrl.errors | json }}</pre>
    </div>

    <div class="field">
        <label for="name">Age</label>
        <input type="number" id="age" [formControl]="ageCtrl" [min]="18" [max]="80">
        <ul *ngIf="ageCtrl.dirty && ageCtrl.invalid">
            <li *ngIf="ageCtrl.errors.required">
                Must have a value
            </li>
        </ul>
        <pre *ngIf="ageCtrl.errors">errors: {{ ageCtrl.errors | json }}</pre>
    </div>

    <div class="buttons">
        <button (click)="onCancel()" type="button">Cancel</button>
        <button [disabled]="form.invalid" (click)="onSubmit()" type="button">Submit Form</button>
    </div>
</form>
<hr>
<pre>value: {{form.value | json}}</pre>
