<h1>One User</h1>

<table *ngIf="user">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{user.title}}</td>
    </tr>
    <tr>
      <th>Company</th>
      <td>{{user.company}}</td>
    </tr>
    <tr>
      <th>City</th>
      <td>{{user.city}}</td>
    </tr>
  </tbody>
</table>


