<h1>Demo of Null-Catch operator</h1>

<div>
    <label for="safe">Safe: </label>
    <input type="checkbox" id="safe" name="safe" [(ngModel)]="safe">
</div>
<ng-container *ngIf="!safe">
    <h2>Unsafe access of nested objects</h2>
    <p>
        {{user.name.first}}
        {{user.name.last}}
    </p>
</ng-container>
<ng-container *ngIf="safe">
    <h2>Using null-catch <code>?.</code> operator</h2>
    <p>
        {{user?.name?.first}}
        {{user?.name?.last}}
    </p>
</ng-container>

<pre>
  user: {{user | json}}
</pre>

<button (click)="toggle()">
    Update User
</button>
