:host {
    font-family: sans-serif;
}

form {
    padding: 1em;
    border: thin solid #555;
    border-radius: .5em;

    .field {
        label {
            display: block;
            font-variant: small-caps;
            font-weight: 400;
        }

        input {
            display: block;
            width: 90%;
            padding: .2em .5em;
            font-family: monospace;
            margin-bottom: .5em;
        }

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                color: darkred;
            }
        }
    }

    .buttons {
        button + button {
            margin-left: 1em;
        }
    }
}

