<h1>Pipes Demo</h1>

<div>
    <label for="count"># products: </label>
    <input type="number" id="count" name="count"
           (change)="generate()"
           [(ngModel)]="numProducts"
           [min]="0" [max]="15"
    />
</div>

<p *ngIf="!products || products.length === 0">
    No products to show
</p>

<table *ngIf="products.length >= 1">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Items in Stock</th>
            <th>Service</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; let row=index; let isEven=even">
            <td>{{row + 1}}</td>
            <td>{{p.name | slice:0:5}}</td>
            <td>{{p.price | kronor: isEven}}</td>
            <td>{{p.itemsInStore | number:'1.0-0' }}</td>
            <td>{{p.isService ? 'Yes' : 'No'}}</td>
            <td>{{p.lastUpdate | date:'d MMMM yyyy'}}</td>
        </tr>
    </tbody>
</table>
<hr>
<pre>{{products | json}}</pre>
