<h1>About this silly app</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam asperiores, commodi corporis culpa,
    deleniti ea eum eveniet hic id, natus nihil odit pariatur quia sequi similique soluta tempora voluptatum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam asperiores, commodi corporis culpa,
    deleniti ea eum eveniet hic id, natus nihil odit pariatur quia sequi similique soluta tempora voluptatum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam asperiores, commodi corporis culpa,
    deleniti ea eum eveniet hic id, natus nihil odit pariatur quia sequi similique soluta tempora voluptatum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam asperiores, commodi corporis culpa,
    deleniti ea eum eveniet hic id, natus nihil odit pariatur quia sequi similique soluta tempora voluptatum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam asperiores, commodi corporis culpa,
    deleniti ea eum eveniet hic id, natus nihil odit pariatur quia sequi similique soluta tempora voluptatum?
</p>
