<h1>HTTP Demo</h1>


<table class="users">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users; let row=index">
            <td>{{row + 1}}</td>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.age}}</td>
            <td>
                <button (click)="findById(u.id)" class="one">Get</button>
                <button (click)="edit(u)" class="edit">Edit</button>
                <button (click)="delete(u.id)" class="delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<fieldset *ngIf="user">
    <legend>Single User</legend>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{user.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{user.age}}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <button (click)="user = undefined" class="clear">Clear</button>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>

<fieldset>
    <legend>Create/Edit User</legend>
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>
                    <input type="text" [(ngModel)]="newUser.name">
                </td>
            </tr>
            <tr>
                <th>Age</th>
                <td>
                    <input type="number" [(ngModel)]="newUser.age" [min]="15" [max]="100">
                </td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <button (click)="save()" class="create">Save</button>
                    <button (click)="reset()" class="clear">Clear</button>
                </td>
            </tr>
            <tr>
                <th>JSON Debug</th>
                <td>
                    <pre>{{newUser | json}}</pre>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>


