:host {
    font-family: Consolas, "Lucida Sans", Verdana, Arial, sans-serif;
}


button {
    color: white;
    border: none;
    border-radius: .2em;
}

button:hover {
    box-shadow: 1px 1px 4px #555;
}

button + button {
    margin-left: .5em;
}

.one {
    background-color: dodgerblue;
}

.edit {
    background-color: darkorange;
}

.delete {
    background-color: orangered;
}

.create {
    background-color: forestgreen;
}

.clear {
    background-color: darkslategray;
}

fieldset {
    margin-top: 1.5em;
}

.users {
    width: 100%;

    th {
        text-align: left;
    }

    th:last-child, td:last-child {
        text-align: right;
    }
}
