<h1>Editable Text</h1>

<table>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                <editable-text
                    [value]="fullName"
                    [property]="'fullName'"
                    (update)="onPropertyUpdate($event)"
                ></editable-text>
            </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <editable-text
                    [value]="address"
                    [property]="'address'"
                    (update)="onPropertyUpdate($event)"
                ></editable-text>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <editable-text
                    [value]="phone"
                    [property]="'phone'"
                    [empty]="''"
                    (update)="onPropertyUpdate($event)"
                ></editable-text>
            </td>
        </tr>
    </tbody>
</table>
