<h1>Service Demo</h1>

<p>
  Result: {{svc.mul(value)}}
</p>
<p>
  ({{value}})
  <input type="range"
         [(ngModel)]="value"
         min="0" max="100">
</p>
<p>
  Factor:
  <input type="number"
         (change)="updateFactor($event)"
  >
</p>

