<div *ngFor="let p of products.all; let id=index" class="card">
  <img [src]="p.url">
  <h2>{{p.name | uppercase}}</h2>
  <button (click)="cart.add(id, p)">
    Lägg Till
  </button>
  <p>
    Passa på! <br>
    Idag kostar denna endast <span>{{p.price | currency:'SEK'}}</span>
  </p>
</div>
